<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>网址：</string>
		<key>detail</key>
		<string>http://app.dxy.cn/idrug.htm</string>
	</dict>
	<dict>
		<key>title</key>
		<string>客服电话：</string>
		<key>detail</key>
		<string>400-657-1918（工作日）</string>
	</dict>
	<dict>
		<key>title</key>
		<string>客服邮箱：</string>
		<key>detail</key>
		<string>app@dxy.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>客服微博：</string>
		<key>detail</key>
		<string>@丁香医生</string>
	</dict>
	<dict>
		<key>title</key>
		<string>微信公众号:</string>
		<key>detail</key>
		<string>丁香医生</string>
	</dict>
	<dict>
		<key>title</key>
		<string>免责声明:</string>
		<key>detail</key>
		<string>点我查看</string>
	</dict>
</array>
</plist>
